<%= form_with model: plant do |form| %>
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
        <% plant.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :botanical_name %><br>
        <%= form.text_area :botanical_name %>
        <% plant.errors.full_messages_for(:botanical_name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
        <% plant.errors.full_messages_for(:description).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>
