<%= link_to "All Plants", root_path %>
<h1> <%= @plant.name %> </h1>
<%= link_to "Edit", edit_plant_path(@plant) %>
<%= link_to "Destroy", plant_path(@plant), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
<p> <%= @plant.botanical_name %> </p>
<p> <%= @plant.description %> </p>
